---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Launch Your DAO",
    description:
      "Easily create and launch your own Decentralized Autonomous Organization with just a few clicks.",
    icon: "bx:bxs-rocket",
  },
  {
    title: "Community Feed",
    description:
      "Engage with your community through a dynamic feed that supports posts, comments, and interactions.",
    icon: "bx:bxs-message",
  },
  {
    title: "Collaborative Blogging",
    description:
      "Share insights and updates with your DAO through integrated blogging features.",
    icon: "bx:bxs-pencil",
  },
  {
    title: "Event Management",
    description:
      "Organize and manage events to keep your DAO members informed and engaged.",
    icon: "bx:bxs-calendar",
  },
  {
    title: "Polls and Voting",
    description:
      "Facilitate on-chain decision-making with built-in polls and voting mechanisms.",
    icon: "bx:bx-poll",
  },
  {
    title: "Comprehensive Notifications",
    description:
      "Stay updated with real-time notifications about the latest activities within your DAO.",
    icon: "bx:bxs-bell",
  },
  {
    title: "Dynamic Discussions",
    description:
      "Foster lively discussions with threaded comments and replies.",
    icon: "bx:bxs-chat",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a social DAO
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    DAO.Nexus comes batteries included. It takes the best parts of state-of-the-art
    tools and adds its own innovations.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
